# Visual Studio
.vs/
*.user
*.suo
*.cache
*.pdb
*.obj
*.exe
*.dll
*.log
*.idb
*.ipch
*.aps
*.ncb
*.ilk

# Build results
Debug/
Release/
x64/
x86/
*.exe
*.out
*.app

# C++
*.o
*.a
*.lib

# CMake
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake

# Others
*.bak
*.tmp
*.log
*.tlog
*.VC.db
*.VC.VC.opendb
